* {
   margin: 0;
   font-family: Arial;
}

body {
   background-color:  rgba(238, 231, 231, 0.699);;
}

/* Navigation Bar */

.navbar {
   background-color: #FFFFFF;
   height: 66px;
   display: flex;
   align-items: center;
   margin-right: -1px;
}

.search-input {
   width: 600px;
   height: 40px;
   border-radius: 10px;
   border: none;
   background-color: rgba(219, 239, 240, 0.938);
   font-size: 16px;
   position: absolute;
   left: 230px;
   top: 11px;
}

.search-select i {
   position: absolute;
   top: 23px;
   z-index: 1;
   color: rgb(95, 92, 92);
   left: 240px;
}

.seller-img {
   z-index: 1;
   display: flex;
   position: absolute;
   margin-left: 440px;
   top: 20px;
}

.seller-text {
   margin-top: 5px;
   font-weight: 700px;
}

.sign-logo {
   margin-left: 640px;
   transform: scale(1.3);
}

.sign-in i {
   margin-top: 17px;
   margin-right: 50px;
}

.sign-text {
   margin-right: 22px;
}

.sign-in {
   display: flex;
   margin-bottom: 15px;
}

.sign-in p {
   margin-top: 20px;
   position: absolute;
   right: 210px;
}

.cart {
   display: flex;
   align-items: center;
   margin-left: 50px;
   margin-top: 10px;
}

.ops-logo {
   display: flex;
   align-items: center;
   margin-left: 70px;
   margin-top: 7px;
   transform: scale(1.2);
}

 /* Hero Section */

 .hero-section {
   background-color: #FFFFFF;
   height: 130px;
   display: flex;
   justify-content: space-evenly;
   margin-right: 10px;
   margin-top: 10px;
   margin-left: 10px;
}

 .hero-section p {
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 700;
 }

.images {
   display: flex;
   align-items: center;
   justify-content: center;
}

.electronics {
   margin-top: 11px;
}

.two-wheelers {
   margin-top: 10px;
}

.top-offers {
   margin-top: 10px;
}

.appliances {
   margin-top: 0.01px
}

.travel {
   margin-top: 8px
}

.grocery {
   margin-top: 3px;
}

.btm {
   margin-top: 7px;
}

.mobiles {
   margin-top: 9px;
}

/* Hero Image */

.advertisement {
   background-image: url('hero_image.png');
   background-size: cover;
   height: 250px;
   width: 98.6%;
   margin-right: 10px;
   margin-left: 10px;
   margin-top: 10px;
}

/* Products */

.products {
   width: 1330px;
   height: 320px;
   background-color: #FFFFFF;
   margin-top: 15px;
   margin-left: 10px;
}

.products2 {
   width: 1330px;
   height: 320px;
   background-color: #FFFFFF;
   margin-top: 15px;
   margin-left: 10px;
}

.products div {
   display: flex;
   display: inline-block;
   justify-content: space-evenly;
   align-items: center;
   margin-left: 15px;
   margin-top: 10px;
   margin-right: 1px;
}

.pro-heading {
   padding-top: 30px;
   padding-left: 30px;
   padding-bottom: 10px;
}

.powerbank {
   height: 230px;
   width: 210px;
   border: 1px solid rgb(121, 118, 118);
   border-radius: 5px;
   text-align: center;
}

.projector {
   height: 230px;
   width: 210px;
   border: 1px solid rgb(121, 118, 118);
   border-radius: 5px;
   position: absolute;
   left: 670px;
   text-align: center;
}

.trimmer {
   height: 230px;
   width: 210px;
   border: 1px solid rgb(121, 118, 118);
   border-radius: 5px;
   position: absolute;
   left: 450px;
   text-align: center;
}

.monitor {
   height: 230px;
   width: 210px;
   border: 1px solid rgb(121, 118, 118);
   border-radius: 5px;
   position: absolute;
   top: 543px;
   left: 230px;
   text-align: center;
}

.camera {
   position: absolute;
   left: 890px;
   border: 1px solid rgb(121, 118, 118);
   border-radius: 5px;
   text-align: center;
   height: 230px;
   width: 210px;
   display: flex;
   justify-content: center;
}

.printer {
   border: 1px solid rgb(121, 118, 118);
   position: absolute;
   left: 1107px;
   height: 230px;
   width: 210px;
   display: flex;
   justify-content: center;
   border-radius: 5px;
   text-align: center;
}

.camera img {
   height: 150px;
   width: 150px;
}

.monitor p {
   margin-top: 27px;
}

.ops {
   display: flex;
   align-items: center;
   justify-content: center;
}

.pro-text {
   margin-top: 30px;
}

.powerbank img {
   height: 180px;
   width: 180px;
}

.justifying {
   margin-left: 10px;
}

/* Footer */

.footer-part1 {
   background-color: rgb(34, 32, 32);
   width: auto;
   height: 270px;
   color: white;
   font-weight: 700;
   display: flex;
   justify-content: flex-start;
}

.footer-part2 {
   display: flex;
}

.footer p {
   font-size: 0.85rem;
   color: grey;
   font-weight: 100;
   margin-left: 40px;
}

.footer li {
   font-size: 0.75rem;
   color: white;
   font-weight: 700;
   list-style-type: none;
   margin-bottom: 5px;
}  

.footer-options {
   height: 70px;
   width: 1600px;
   background-color:rgb(34, 32, 32);
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.footer-options p {
   color: #FFFFFF;
   font-weight: 100;
   font-size: 0.75rem;
   letter-spacing: 1.4px;
}

.footer-align {
   display: flex;
   align-items: center;
}

.footer-align img {
   margin-right: -28px;
}